header[role="banner"]
    .navbar
        @include media-breakpoint-down(md)
            padding: px2rem(20) 0
    .baseline
        display: block
        font-size: px2rem(15)
        padding-left: 2px
    &::after
        background-color: rgba(white, .1)
        bottom: 0
        content: ''
        height: 1px
        left: 0
        position: absolute
        width: 100%
    .logo
        img
            height: 42px
            @include media-breakpoint-down(lg)
                height: 30px
