$color-accent: #000000
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(130, 130, 130, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "Basier", sans-serif
$heading-font-family: "Basier", sans-serif

$body-size-desktop: pxToRem(20)
$body-size: pxToRem(16)

$h1-size-desktop: pxToRem(50)
$h1-size: pxToRem(30)
$h2-size-desktop: pxToRem(40)
$h2-size: pxToRem(24)
$h3-size-desktop: pxToRem(28)
$h3-size: pxToRem(20)
$h4-size-desktop: pxToRem(22)
$h4-size: pxToRem(16)
$h5-size-desktop: pxToRem(24)
$h5-size: pxToRem(20)
$h6-size-desktop: pxToRem(20)
$h6-size: pxToRem(14)
$lead-size-desktop: pxToRem(60)
$lead-size: pxToRem(24)
$lead-sidebar-size-desktop: pxToRem(32)
$body-size-desktop: pxToRem(20)
$body-size: pxToRem(18)
$small-size-desktop: pxToRem(16)
$small-size: pxToRem(14)
$signature-size-desktop: pxToRem(20)
$signature-size: pxToRem(18)
$meta-size-desktop: pxToRem(16)
$meta-size: pxToRem(14)
$quote-size-desktop-short: pxToRem(30)
$quote-size-desktop-long: pxToRem(30)
$quote-size: pxToRem(24)
$btn-font-size-desktop: pxToRem(18)
$btn-font-size: pxToRem(14)

$header-color: $color-background
$header-background: transparent
$header-dropdown-background: $color-text
$header-dropdown-color: $color-background
$header-sticky-background: $color-text
$header-sticky-dropdown-background: $color-text
$header-sticky-color: $color-background
$header-logo-height: 30px
$header-logo-height-md: 42px
$header-nav-padding-y-desktop: pxToRem(25)

$hero-background-color: $color-text
$hero-color: $color-background
$hero-height-desktop: 400px

$breadcrumb-color: $color-background
$breadcrumb-icon-color: white

$footer-color: $color-text
$footer-background-color: $color-background
$footer-logo-height: 30px
$footer-logo-height-md: 42px

$posts-layout-list: false