.toc ol .active
    font-weight: bold
.organization
    a[target="_blank"]::after
        content: none

header#document-header
    .baseline
        display: block
        font-size: px2rem(15)
        padding-left: 2px
        margin-top: -5px
        background: transparent
        color: $color-background

.pages__section, .page__home
    .hero
        h1, hgroup, .breadcrumb
            position: relative
            z-index: 10 
        figure
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            z-index: 1
            picture, img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
            img
                opacity: 0.4
        @include media-breakpoint-down(desktop)
            padding-bottom: $spacing3
            figure
                margin: 0


@include media-breakpoint-up(desktop)
    .toc-cta
        display: none !important
    .toc-title
        display: none
    .toc 
        ol 
            li:first-of-type
                margin-top: 0

footer#document-footer
    border-top: 1px solid $color-border
    padding-bottom: $spacing4

    address
        p
            margin-top: 0
    .organizations
        .organization
            .media
                aspect-ratio: auto
                padding: 0
                background: none
                img
                    width: auto
                    height: 120px
                    aspect-ratio: auto
                    object-position: top left
    .footer-partners
        padding-top: $spacing2
        grid-column: 1/3
        align-self: center
    .footer-legals
        padding-top: $spacing2
        grid-column: 1/3
    .footer-legal
        ul,
        li,
        .footer-credit
            display: inline-block
        li
            padding-right: $spacing1
